AnyQt==0.2.0
coloredlogs==15.0.1
confapp==1.1.11
contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
humanfriendly==10.0
kiwisolver==1.4.4
matplotlib==3.6.2
natsort==8.2.0
numpy==1.23.4
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.3.0
PyForms-GUI==5
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyreadline3==3.4.1
python-dateutil==2.8.2
QScintilla==2.13.3
six==1.16.0
visvis==1.13.0
